@import "../../styles";

.container {
  width: 55%;
  height: auto;
  min-height: 400px;

  @media (max-width: $media_large) {
    width: 60%;
  }

  @media (max-width: $media_small) {
    width: 50%;
  }
}